:root{
    --primary-color: rgb(233, 178, 204);
    --secondary-color: rgb(58, 136, 103);
    --tertiary-color: rgb(248, 230, 230);

}

*{
    margin: 5;
    padding: 5;
    box-sizing:border-box;
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header {
    padding: 20px 20px; /* makes the header larger as a result of the padding */
    background-image: url("../portfolio/images/anuka.jpg");
    background-size:cover; /* bkgr img completely covers the container leaving no empty space*/
    /*background-position:center;*/
    background-attachment:fixed;
    background-position: 70%; /* 0% - left top edge of img align with container, 100% right bottom. if 2 values, then x and y */
    font-size:large;
    flex-wrap:wrap; /* wrap if content doesnt fit*/
    justify-content: space-between; /* space-around -add space everywhere, space-between - add space between children*/
    display:flex;
    position: -webkit-sticky;
    position:sticky;
}

header h1{
    background:var(--secondary-color);
    color:white;
    padding: 10px 10px;
}

header nav {
    display: flex;
    justify-content: flex-end;
    color:white;
    margin: 7px 0;

}

header a{
    color:white;
    list-style:none;
    text-decoration: none; /* removes the underline in header links*/
}

header nav ul{
    list-style:none;
    color:white;
    display:flex; /*made the nav lists go horizontal */
    flex-wrap:wrap;
    justify-content: space-between;  /*aligns across x*/
    align-items: center; /*aligns across y*/
}

header nav li a{
    padding: 5px 15px;
    font-size:2vw;
}

header nav li a:hover{
    background:var(--secondary-color);
    font-style: bold;
    border-radius:15px; /*makes edges rounder*/
}

section{
    padding: 50px;
}

.hero{
    background-image: url("../portfolio/images/anuka.jpg");
    background-size:cover;
    background-position:70%;
    background-attachment: fixed;

    display:flex;

    flex-wrap:wrap;
    align-items:flex-start;
}

.hero p{
    color:white;
    justify-content:flex-start;
    font-size:25px;
}

.about-me{
    width: 80%;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:space-between;
}

.section-title{
    min-width: 100px;
}

.section-text{
    min-width:auto;
}